<div *ngIf="!isLoading">

<h1>{{nameCrypto}}</h1>
<h1>Situation</h1>
    
    <table border="2">
        <tr>
            <th>Owned
            </th>
            <th>Position Price
            </th>
            <th>Invested Money
            </th>
            <th>earned / lost
            </th>
        </tr>
        <tr>
            <td>{{situation_owned_number | number: '1.0-8'}}
            </td>
            <td>{{situation_position_price | number: '1.0-10'}}
            </td>
            <td>{{situation_position_price*situation_owned_number | number: '1.0-8'}}
            </td>
            <td>{{situation_earned_lost | number: '1.0-2'}}
            </td>
        </tr>
    </table>

    <br />
    <br />
    <hr />
<h1>Add a movment</h1>
    
    <br />

    <button (click)=changePosition()>BUY/SELL</button>  
    
    <br /><br />   

    <div *ngIf="type==='Sell';then sell else buy"></div>

    <ng-template #sell><span style="font-weight:bold; font-size:30px; color:red"> {{type}}</span></ng-template>
    <ng-template #buy><span style="font-weight:bold; font-size:30px; color:blue"> {{type}}</span></ng-template>
   
    
    <br /><br />
    <label for="date-action">Your Date</label>
    <input [ngModel]="actionModel.date | date:'yyyy-MM-dd'" (ngModelChange)="actionModel.date = $event" type="date" />
    <br /><br />
    <label for="price-action">Your Price</label>
    <input id="price-action" placeholder="price"  [(ngModel)]="actionModel.price" #price type="number"/>	
    <br /><br />
    <label for="amount-action">Your amount</label>
    <input id="amount-action" placeholder="amount" [(ngModel)]="actionModel.amount" #amount type="number"/>   
    <br />
    <br />
    <button (click)="addMovment()">Send</button>
<hr />
<h1>Historic</h1>

<table border="2">
    <tr>
            <th>Date</th>
            <th>Movment</th>
            <th>Price($)</th>		
            <th>Amount</th>
            <th>Result($)</th>
            <th>Owned</th>		
            <th>Position</th>	
            <th>Invested</th>
            <th>Earned</th>
    </tr>
    <tr *ngFor="let action of actions">
        <td>{{action.date | date:'dd/MM/yy - H:mm' }}</td>
        <td>{{action.movment}}</td>    
        <td>{{action.price | number: '1.0-4'}}</td>		
        <td>{{action.amount | number: '1.0-12'}}</td>
        <td>{{action.result | number: '1.0-4'}}</td>			
        <td>{{action.sumAmount  | number: '1.0-12'}}</td>
        <td>{{action.averagePrice  | number: '1.0-4'}}</td>
        <td>{{action.averagePrice * action.sumAmount  | number: '1.0-4'}}
        <td><span *ngIf="action.movment=='Sell'">{{action.resultSell  | number: '1.0-4'}}</span></td>
    
    </tr>
    </table>

   
</div>

<div *ngIf="isLoading">
    <label>Loading...</label>
</div>
    
