<h1>External Investment </h1>

<div *ngIf="!isNotAllowed">
<table>
   <tr>
       <th>Label</th>
       <th>Date</th>
       <th>Invested Money</th>
       <th>Actual Value</th>
   </tr>
   <tr *ngFor='let investment of investments'>
       <td><span>| {{investment.label}}</span></td>
       <td><span>| {{investment.date | date:'dd/MM/yy'}}</span></td>
       <td><span>| {{investment.invested}}</span></td>
       <td><span>| {{investment.actual_value}}</span></td>
   </tr>
</table>
</div>
<div *ngIf="isNotAllowed">
    <table>
        <tr>
            <th>Label</th>
            <th>Date</th>
            <th>Invested Money</th>
            <th>Actual Value</th>
        </tr>
        <tr *ngFor='let investment of investments'>
            <td><span>| *****</span></td>
            <td><span>| *****</span></td>
            <td><span>| *****</span></td>
            <td><span>| *****</span></td>
        </tr>
     </table>
</div>
